// $unit: 30px;
// $width: (4 * $unit);
// $height: (4 * $unit);
//

body {
  background-color: $background;
}

h1 {
  margin: 20px 10px;
}

.header {
  margin: 20px 0 0 10px;

  img {
    float: left;
    height: 100px;
    width: 100px;
  }

  h1 {
    left: 10px;
    position: relative;
    top: 18px;
  }
}

.wrapper {
  height: 50px;
  text-align: center;
}

.btn {
  background-color: $burgundy;
  border: 0;
  color: $light-grey;
}

.thought {
  border-top: 1px solid $thought-border;
  margin: 0;
  padding: 15px 0;
}

li button {
  background: 0;
  border: 0;
  margin-left: 8px;
}

nav {
  float: right;
  margin: -30px 10px 0 0;

  .dropdown-toggle {
    color: $med-grey;
  }
}

.container {
  text-align: center;

  .content-display {
    padding-top: 5px;
  }
}

.wrapper,
.container {
  clear: both;
}

.create-thought-form {
  margin: 0 auto;
  width: 75%;
}

.sign-buttons {
  left: 42%;
  position: absolute;
  top: 50%;

  .sign-in-button,
  .sign-up-button {
    margin: 0 7px;
  }
}

.thought-buttons {
  display: inline;
  margin: 0 7px;
}
