// $unit: 30px;
// $width: (4 * $unit);
// $height: (4 * $unit);
//

body {
  background-color: $background;
}

h1 {
  margin: 20px 10px;
}

.header {
  margin: 20px 0 0 10px;

  img {
    float: left;
    height: 100px;
    width: 100px;
  }

  h1 {
    left: 10px;
    position: relative;
    top: 18px;
  }
}

.wrapper {
  height: 50px;
  text-align: center;
}

.btn {
  background-color: $burgundy;
  border: 0;
  color: $light-grey;
}

.thought {
  border-top: 1px solid $thought-border;
  margin-top: 7px;
  padding: 15px 0;
}

li button {
  background: 0;
  border: 0;
  margin-left: 8px;
}

nav {
  float: right;
  margin: -30px 10px 0 0;

  .dropdown-toggle {
    color: $med-grey;
  }
}

.container {
  text-align: center;

  .content-display {
    margin: 0 auto;
    padding-top: 5px;
    width: 75%;
  }
}

.wrapper,
.container {
  clear: both;
}

.create-thought-form {
  margin: 0 auto;
  width: 75%;

  .add-poll-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 0;
    color: $med-grey;
    cursor: pointer;
    outline: none;
    overflow: hidden;
  }

  .poll-form {
    clear: both;
    display: none;
    margin: 0 auto;
    width: 50%;

    input {
      margin-bottom: 5px;
    }
  }

  button {
    margin: 5px;
  }
}

.sign-buttons {
  left: 42%;
  position: absolute;
  top: 50%;

  .sign-in-button,
  .sign-up-button {
    margin: 0 7px;
  }
}

.display-thoughts-buttons {
  margin: 10px;

  .thought-buttons {
    display: inline;

    .all-thoughts-button,
    .my-thoughts-button {
      margin: 0 7px;
    }
  }
}


input[type="radio"]{
  margin: 0 7px;
}

textarea {
  resize: vertical;
}

.vote-button {
  margin: 7px;
}
